# Node modules
node_modules/
dist/
.DS_Store

# Databases
*.db
*.db-journal

# Environment
.env
.env.local

# Frontend specific
frontend/node_modules/
frontend/dist/

# Backend specific
backend/node_modules/
